<div>
  <h1 class= "title">What do you have to say to de coach!?</h1>
  <form action="/answer">
    <input class= "box" type="text" name="input" placeholder= "say something to the coach">
    <input class= "button" type="submit" value="Ask!">
  </form>
</div>